*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:  rgba(5, 34, 17, 0.959);
    color: white;
}
h1{
    text-align: center;
    padding-top: 150px;
    color: rgb(255, 255, 255);

}
h2{
    padding-top: 50px;
    color: rgb(255, 255, 255);
    padding:20px;
}
.descrip{
    font-size: large;
    padding:0 10px 0 20px;
    text-align: left;
    color: rgba(219, 223, 226, 0.973);
}

.bookmarks{
    color: rgb(0, 0, 0);
    text-align:center;
    text-decoration: none;
    font-size: large;
}

.bookmarks:hover{
    text-decoration: underline rgb(117, 48, 48) 3px;
    cursor: pointer;
}

.topics{
    text-align: center;
    height: 10px;
    color: rgb(0, 0, 0);
    font-size:400%;

}
.box{
    background-color: rgb(43, 128, 62);
    height:fit-content;
    width: auto;
    padding: 5px 0 10px 0;
}
#contents{
    color: brown;
}
.desImg{
    display:inline-block;
    width: 350px;
    height:300px;
    padding: 10px 10px 10px 25px;
}
#top{
    text-align: right;
    padding-right: 25px;
    color: rgb(102, 110, 155);


}